:root {
    /* CONFIGURABLE SETTINGS */
        /* COLORS */
        --color-white: #FFFFFF;
        --color-light-grey: #ececec;
        --color-grey: #586768;
        --color-black: #000000;

        /* BACKGROUND */

        /* TEXT */
            /* PRIMARY FONT */
            @font-face {
                font-family: 'Hanson';
                src: url('../inc/fonts/HansonBold.woff2') format('woff2'),
                    url('../inc/fonts/HansonBold.woff') format('woff');
                font-weight: bold;
                font-style: normal;
                font-display: swap;
            }

            /* SECONDARY FONT */
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans&display=swap');


            /* FONT SIZES */

            /* LIGHT BACKGROUND COLORS */

            /* DARK BACKGROUND COLORS */

        /* PRIMARY BUTTON */
            /* STYLE */

            /* LIGHT BACKGROUND COLORS */

            /* DARK BACKGROUND COLORS */

        /* SECONDARY BUTTON */
            /* STYLE */

            /* LIGHT BACKGROUND COLORS */

            /* DARK BACKGROUND COLORS */

        /* FORMS */

        /* EYEBROW */

        /* MARGINS */

        /* MISCELANEOUS */

}

:is(h1, h2) {
    font-family: 'Hanson';
    text-transform: uppercase;
    line-height: 0.9;
}

:is(h3, h4, h5, h6, p, a) {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: var(--color-white);
}

a:is(:hover, :active, :focus) {
    color: var(--link-color);
}