.instagram-gallery {
    grid-template-columns: auto;
}

.instagram-gallery-title {
    position: relative;
    top: 0;
}

.instagram-gallery .instagram-gallery-content #sb_instagram #sbi_images .sbi_item:nth-child(even) {
    transform: none;
}

.instagram-gallery .instagram-gallery-content #sbi_images {
    grid-template-columns: auto;
    margin-bottom: 5rem;
}

@media (min-width: 992px) {
    .instagram-gallery .instagram-gallery-content #sbi_images {
        grid-template-columns: repeat(4, 1fr);
    }    
}